.Container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}


.nav-item {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px;
    justify-content: space-evenly;
    margin: 0px 10px;
    flex-direction: row;
}

.nav-item:hover {
    display: flex;
    background-color: #bdbbbb;
    color: #fff;
    padding: 10px;
    justify-content: space-evenly;
    margin: 0px 10px;
    flex-direction: row;
}

.nav-bar {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px;
    justify-content: space-evenly;
    margin: 0px 10px;
    flex-direction: row;
}

.dropdown {
    display: flex;
    background-color: #fff;
    color: black;
    color: #fff;
    padding: 10px;
    justify-content: space-evenly;
    margin: 0px 10px;
    flex-direction: row;

}
